body{
  margin:0px;
  padding: 20px;
}
h1{
  font-size:45px;
  text-align: center;
  border-bottom: 2px solid black;
  margin:0px;
  padding: 20px;
}
ol{
  border-right: 2px solid black;
  width: 100px;
  margin:0px;
  padding: 20px;
}
#grid #article{
  padding-left:25px;
}
#grid ol{
  padding-left:33px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
@media (max-width:800px) {
  #grid{
    display: block;
  }
  ol{
    border-right: none;
  }
  h1{
    border-bottom: none;
  }
